/* .container {
    padding: 0 20px;
    max-width: 100%;
}

@media screen and (min-width: 375px) {
    .container {
        margin: 0 auto;
        max-width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 32px;
        max-width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 0 24px;
        max-width: 1440px;
    }
} */

/* * {
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
} */

ul {
    list-style: none;
}

 .book_shelf{
    display: flex;
 }

.book_shelf_nav .category {
    width: 362px;
     margin-top: 40px;
     margin-bottom: 86px;
     margin-left: 24px;
     margin-right: 40px;
}


.item {
    font-size: 18px;
    line-height: 2.5;
    padding-left: 0px;
    padding-top: 32px;
    text-decoration: none;
    color: #d0d0d0;
}

.active:focus,
.active:hover {
    color: #4f2fe8;
} 


.title {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 48px;
    color: #111;
}

.links {
color: #4f2ee8;
}

.book_shelf_item {
    display: flex;
    
} 

.category-title {
    margin-left: 40px;
    font-size: 14px;
    color: #b4afaf;
}

.flip-inner {
    height: 256px;
    width: 180px;
}
.category-item {
    padding-right: 24px;
}

.bookes-content {
    margin-top: 14px;
}

.bookes-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 4px;
    color: #111;
}

.bookes-author {
    font-size: 12px;
    color: #b4afaf;

}